<section class="container my-5">
        <h2>Education</h2>
        <div class="education">
          <h3>MSc Master of Science Network Systems</h3>
          <span class="fs-4">Swinburne University of Technology - Melbourne-Australia 2013</span>
        </div>
        <div class="education">
          <h3>Computer Engineer</h3>
          <span class="fs-4">Universidad Nacional Experimental Simon Rodriguez -
            Caracas-Venezuela 2007</span>
        </div>
      </section>