<section class="container my-5">
        <h2>Experience</h2>
        <div class="job">
          <h3>Technical Lead at Tata Consultancy Services</h3>
          <span>Jan 2024 - Present</span>
          <p class="fs-4">
            Supported development teams for CI/CD processes in Dev, QA, and
            Production environments, ensuring smooth and efficient software
            deployments through Azure DevOps.
          </p>
          <span>Skills: Azure DevOps Services · Microsoft Azure · Azure
            Kubernetes Service (AKS) · Kubernetes · CI/CD · Docker · Node.js ·
            Git</span>
        </div>
        <div class="job">
          <h3>Cloud Engineer at Liberty Mutual Insurance</h3>
          <span>Aug 2022 - Mar 2023</span>
          <p class="fs-4">
            Deployment of applications and software components using Oracle
            Weblogic Platform (Console, EM, and Service Bus) in non-production
            and production environments, resulting in successful project
            delivery. Administered and maintained Linux platforms on the cloud
            (AWS EC2, S3, IAM), ensuring optimal performance and security.
            Conducted deep log analysis to identify and troubleshoot issues
            promptly, prioritizing tasks based on impact, effort, and capacity.
            Contributed to script maintenance in Python, improving efficiency
            and automation.
          </p>
          <span>Skills: AWS · Kubernetes · CI/CD · Docker · Node.js · Git ·
            Ansible · Python</span>
        </div>
       
      </section>