<header class="header-section text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-start">
                <h2 class="pt-4">Luis Manuel Rivas</h2>
                <h4>DevOps Engineer - Code Enthusiast</h4>
            </div>
        </div>
    </div>
</header>
<section class="background-image-section">
    
</section>
