<div class="container my-5">
        <section>
            <h2>Technologies</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><img src="assets/imgs/png/aws.png" alt="AWS Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/azure.png" alt="Azure Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/jenkins.png" alt="Jenkins Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/kubernetes.png" alt="Kubernetes Icon" class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td><img src="assets/imgs/png/terraform.png" alt="Terraform Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/devops.png" alt="DevOps Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/js.png" alt="JavaScript Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/django.png" alt="Django Icon" class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td><img src="assets/imgs/png/express-js.png" alt="Express.js Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/java.png" alt="Java Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/node-js.png" alt="Node.js Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/python.png" alt="Python Icon" class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td><img src="assets/imgs/png/ansible.png" alt="Ansible Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/postgresql.png" alt="PostgreSQL Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/mysql.png" alt="MySQL Icon" class="img-fluid"></td>
                        <td><img src="assets/imgs/png/git.png" alt="Git Icon" class="img-fluid"></td>
                    </tr>
                    <tr>
                        <td><img src="assets/imgs/png/docker.png" alt="Docker Icon" class="img-fluid"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>